<!DOCTYPE html>
<html>
<head>
    <title>Booking Lapangan</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-4">

    <div class="card">

        <div class="card-header">
            Booking Lapangan
        </div>

        <div class="card-body">

            <form>

                <div class="mb-3">

                    <label>ID Lapangan</label>

                    <input
                        type="number"
                        class="form-control"
                    >

                </div>

                <div class="mb-3">

                    <label>Tanggal</label>

                    <input
                        type="date"
                        class="form-control"
                    >

                </div>

                <div class="mb-3">

                    <label>Jam Mulai</label>

                    <input
                        type="time"
                        class="form-control"
                    >

                </div>

                <div class="mb-3">

                    <label>Jam Selesai</label>

                    <input
                        type="time"
                        class="form-control"
                    >

                </div>

                <button class="btn btn-primary">
                    Booking
                </button>

            </form>

        </div>

    </div>

</div>

</body>
</html>